body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.logo {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}
/* navigation bar */
.nav-bar {
    text-align: center;
    align-items: center;
}
ul {
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
    background-color: #f7f3f341;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 600;
    font-family: revert;
    padding: 10px;
    padding-right: 40px;
}
li {
    float: right;
    text-align: center;
}
li a:hover {
    color: white;
    background-color: black;
    border-radius: 15px;
    transition: 0.3s;
}
li a, .dropbtn {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px; */
    z-index: 1;
    border-radius: 12px;
    color: #f1f1f1;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    color: black;
    border-radius: 12px;
}

.dropdown-content a:hover {
    background-color: black;
    color: white;
    transition: 0.4s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logo, .company-name {
    float: left;
}

/* hero-bg image */

.hero {
    position: relative;
    height: 100vh; /*full vieport height */
    background: url('images/Amazing-Sports-Car-Wallpaper.jpg') no-repeat center center/cover;
}

/* styling fonts */
.intro {
    margin-top: 110px;
    text-transform: uppercase;
}
h1 {
   font-size: 70px; 
   margin: 0;
   font-weight: 900;
   line-height: 70px;
   
}
h3 {
    font-size: 30px;
    margin: 0;
    font-weight: 00;

}
.start-2 {
    text-align: center;
    padding: 50px;
    text-transform: upperca;
    font-family: sans-serif;
    color: #f1f1f1;
    background-color: black;
    margin: 0;

}

/* explore button */
.exp {
    
    border: 3px solid black;
    padding: 12px;
    margin-left: 270px;
    text-decoration: none;
    color: #f1f1f1;
    border-radius: 12px;
    font-weight: 600;
}
.exp:hover {
    background-color: black;
    color: silver;
    transition: 0.8s;
}
.buy-cart {
    display: flex;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    margin-left: 230px; 
    margin-top: -136px;  
}
.btn {
    line-height: 235px;
}

.specs {
    float: right;
    margin-right: 30px;
    margin-top: -272px;
    line-height: 16px;
    border-bottom: 2px solid ;
    background-color: lightgrey
}
.specs-txt {
    float: right;
    margin-right: 29px;
    margin-top: -240px;
    align-items: center;
    text-align: center;
    color: #a50303;
    font-size: smaller;
    line-height: 14px;
}
.bottom-txt {
    padding-left: 20px;
    padding-top: 100px;
    font-size: 12px;
    text-transform: uppercase;
    /* border-left: 2px solid black;
    background-color: lightgrey; */
    margin: 0;
}

/* styling vertical pictures */

.page-2 {
    display: flex;
    width: 900px;
    height: 700px;
    border-radius: 50px;
}
.page-2, .pic {
    width: 100px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.9s ease;
}
.page-2, .pic:hover {
    width: 100%;
    opacity: 1;
    filter: contrast(120%);
}

/* styling page 3 - OUR CARS */

.event {
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #f5f5dc0e;
}
.page-3-intro {
    text-align: center;
    color: white;
    background-color: #010101;
    margin: 0;
    padding-top: 30px;
    font-size: 35px;
}
.page-3 {
    display: flex;
    flex-wrap: wrap;
    background: #962712;
    background: linear-gradient(to bottom, #010101, #962712);
    padding: 100px;
    margin: 0;
}
.event img {
    width: 400px;
    height: 200px;
    object-fit: cover;
    align-items: center;
    border-radius: 8px;

}
/* text over pic in box */
.event-detail {
    margin: 20px 40px;
    background-color: rgb(0, 0, 0);
    margin-top: -40px;
    position: relative;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    color: #f1f1f1;
}
.event-description { 
    text-align: center;
    color: silver;
}
.event-url {
    border: none;
    padding: 5px 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    background-color: white;
    font-weight: 600;
}
.event-url:hover {
    background-color: #860000;
    color: rgb(255, 255, 255);
    border: none;
    font-weight: 600;
    transition: 0.5s;
}
/* book now inputs */
input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #550101;
    border-radius: 4px;
    resize: vertical;
    cursor: pointer;
}
  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
  
input {
    float: right;
} 
.booknow {
    text-align: center;
    font-size: 35px;
    color: linea;
    margin-right: 450px;
}
.container {
    border-radius: 10px;
    background-color: #ffffff;
    padding: 50px;
    margin: 50px;
    margin-bottom: 0;
    width: 500px;
}
  
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 17px;
    font-weight: 600;
}
  
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    margin-bottom: 0;
}
input[type="number"]:focus,
input[type="text"]:focus,
select:focus {
            border-color: #00b418;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input {
      width: 100%;
      margin-top: 0;
    }
}
option {
    font-size: larger;
}
button {
    padding: 12px;
    margin: 10px;
    border-radius: 12px;
    cursor: pointer;
    color: silver;
    background-color: #8e0000;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    align-items: center;
}
button:hover {
    color: white;
    transition: .8s;
    text-shadow: 2px 2px 5px white;
    background-color: #010101;

}
.book-page {
    background: linear-gradient(to bottom, #962712, #010101);
}
.carousel-container {
    width: 430px;
    height: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin-left: 710px;
    margin-top: -320px;
}

.carousel-images {
    position: relative;
    width: 100%;
    height: 60%;
}

.carousel-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease;
}

.carousel-images img.active {
    opacity: 1;
}

.testimonial-container {
    padding: 15px;
    text-align: center;
    position: relative;
}

.testimonial-text {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.testimonial-name {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.testimonial-car {
    font-style: italic;
    font-size: 14px;
    color: #777;
}

.contact {
    text-align: center;
    background: linear-gradient(to bottom, #010101, rgb(205, 14, 14), #130101);
    padding: 40px;
}
.contact-text {
    color: silver;
    font-size: 35px;
    padding: 15px;
}
.fb, .ig, .yt, .wp {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px;
    margin: 10px;

}
.fb {
    background-image: url(./icons/facebook.svg);
}
.ig {
    background-image: url(./icons/instagram.svg);
}
.yt {
    background-image: url(./icons/youtube.svg);
}
.wp {
    background-image: url(./icons/whatsapp.svg);
}
.contact-info {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: rgb(250, 199, 199);
    padding: 12px;
    margin: 10px;
}
footer {
    text-align: center;
    background: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    color: white;
}